lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

config.json
roomState.json

*.sqlite

!sample.sqlite
migrate.sql
test.js
.idea

web/p3.php
web/slack-webhook.php
images/*